body{
    background-color: hsl(212, 45%, 89%);
}
div {
    justify-content: center;
}
figure#imagem {
    margin: 642px;
    margin-top: 130px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    padding-bottom: 25px;
}
figure#imagem img#qrcode {
    justify-content: center;
    max-width: 100%;
    height: 250px;
    width: 300px;
    border-radius: 10px;
}
figcaption#legenda h1 {
    font-size: 19px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
figcaption#legenda h2 {
    font-size: 10px;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

@media(max-width: 1440px) {
    figure#imagem {
        height: 375px;
        width: 250px;
        margin-top: 100px;
        margin-left: 600px;
    }
    .attribution {
        margin-left: 115px;
    }
}